@model PetGrooming.Models.ViewModels.UpdatePet


@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
<form  method="POST" action="/Pet/Update/@Model.pet.PetID">
    <span>Pet Name</span><input type="text" value="@Model.pet.PetName" id="PetName" name="PetName" /><br />
    <span>Pet Weight</span><input type="text" value="@Model.pet.PetWeight" id="PetWeight" name="PetWeight" /><br />
    <span>Pet Color</span><input type="text" value="@Model.pet.PetColor" id="PetColor" name="PetColor" /><br />
    <span>Pet Age</span><input type="text" value="@Model.pet.PetAge" id="PetAge" name="PetAge" /><br />
    <span>Pet Species:</span>
    <select id="SpeciesID" name="SpeciesID">
        @{ 
            foreach (var species in @Model.species)
            {
                var selected = "";
                if (species.SpeciesID == Model.pet.SpeciesID)
                {
                    selected = "selected";
                }
                <option value="@species.SpeciesID" @selected>@species.Name</option>
            }
        }
    </select>
    <div>
        <span>Pet Notes</span>
        <textarea id="PetNotes" name="PetNotes">@Model.pet.PetNotes</textarea>
    </div>
    <input type="submit" value="update pet" />
</form>